<!DOCTYPE html>
<html>
<head>
  <title>Login</title>

</head>
<body>
  <div>
    <h1><a href="/auth/google">Login by Google</a></h1>
    <h1><a href="/auth/facebook">Login by Facebook</a></h1>
    <h1><a href="/auth/twitter">Login by Twitter</a></h1>
    <h1><a href="/remotelogin">Remote Login</a></h1>
  </div>
</body>
</html>
