<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <div>
  <h1>Authentication successful</h1>
  <h3><%= profile.displayName %></h3>
  <h2><%= profile._raw %></h2> 
  </div>
</body>
</html>
